<%- include('layout/debut.ejs')%>

</head>

<body>

<%- include('layout/navigation.ejs')%>

<main>
    <h2>Page principale</h2>
    <p>Bonjour <%=username%> vous êtes connecté </p>

</main>

<%- include('layout/fin.ejs')%>