<%- include('layout/debut.ejs')%>

</head>

<body>

<%- include('layout/navigation.ejs')%>

<h2>Formulaire</h2>
<main>
    <form action="form" name="form" method="post">
        <label for="message">Message</label>
        <input type="text" id="message" name="message">
        <button type="submit">OK</button>
    </form>


</main>

<%- include('layout/fin.ejs')%>