<%- include('layout/debut.ejs')%>

</head>

<body>

<%- include('layout/navigation.ejs')%>

<main>
    <h1>Page d'accueil</h1>
    <p>Bonjour <%=username%> vous voici sur la page d'accueil</p>
</main>

<%- include('layout/fin.ejs')%>