<header>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/login">Login</a></li>
            <% if(isConnected === true){ %>
                <li><a href="/emprunt">Caluler ses mensualités</a></li>
                <li><a href="/historique">Historique</a></li>
                <li><a href="/deconnection">Se déconnecter</a></li>
            <%}%>
        </ul>
    </nav>
</header>