body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

h1{
    color: #27277c;
}


main{
    height: 300px;
}
form{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: aliceblue;
    border-radius: 5px;
    margin: auto;
    border: 1px solid #27277c;
}
h3{
    text-align: center;
}

input{
    height: 1.8em;
    margin: 8px;
}

button{
    background-color: #27277c;
    color: white;
    padding: 5px;
    border-radius: 8px;
    margin: 8px;
}
footer{
    margin-top: auto;
    border-top: 1px solid #27277c;
}

nav{
    display: flex;
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid #27277c;
    background-color: #27277c;
    justify-content: space-between;
    padding-right: 20px;
}

nav li{
    display: inline-block;
    padding: 8px;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

header{
    display: flex;
    flex-direction: column;
}

label{
    margin: 8px;
}

.error{
    color: red;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}


th {
    background-color: #27277c;
    cursor: pointer;
}

#tab-header{
    color : white;
}

tbody {
    background-color: whitesmoke;
}

/* h2 de la page Historique*/
#TabCalcul {
    font-weight: bold;
    text-align: center;
}


h1, h2, h3, h4, h5, h6, p, div {
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-weight: bold;
}

label {
    font-family: 'Arial', sans-serif;
}

div.result-container {
    border: 2px solid #27277c;
    padding: 20px;
    margin-bottom: 20px;
}


ul li:last-child {
    right: 20px;
    position:absolute;
}

.custom-result {
    border: 2px solid #27277c;
    padding: 20px;
    margin: 20px auto 20px; /* Ajout de 'auto' pour centrer horizontalement */
    max-width: 600px; /* Remplacez 600px par la valeur souhaitée */
}

#sortOption {
    background-color: #27277c;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px; /* Ajout d'une marge inférieure pour l'espace */
}

#sortOption:hover {
    background-color: #1f1f6d; /* Couleur de survol */
}